@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Oleo+Script&display=swap');

nav{
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 0;
}
h1{
  font-size: 2rem;
  text-align: right;
  padding: 50px;
}
form{
 padding: 20px;
}
/*Class*/
.nav-link{
  color: black;
  padding: 20px 40px;
  font-family: 'Fugaz One', cursive;
  text-decoration: none;
  font-size: 1.3rem;
}
.nav-link:hover{
  border-bottom: 4px solid #000000;
  color: #000000;
 }
.collection-box{
	margin: 10px 10px;
	display: flex;
	flex-direction: row;
 justify-content: space-around;
}
.collection-item{
 position: relative;
 display: flex;
 margin: 10px;
}
.collection-photo{
	width: 100%;
	height: auto;
}
.collection-button{
  position: absolute;
  font-size: 1rem;
  top: 80%;
  left: 20%;
  border: none;
  padding: 20px 50px;
	font-family: 'Oleo Script', cursive;
	color: white;
	background-color: rgba(65, 84, 66, 0.8);
	border-radius: 0.1rem;
	}

.collection-button:hover{
	background-color: rgba(0,0,0,0.6);
	color: white;
}

/*IDs*/

#nav-bar{
 position: fixed;
 background-color: #ccffff;
 margin: 0;
 width: 100%;
 z-index: 1;
}
#header-img{
  position: relative;
  width: 8%;}

#shop-name{
  margin: 80px 0 50px 0;
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: black;
  padding: 20px;
}

#home{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccffff;
}
#home-product{
 width: 80%;
 padding: 50px;
 flex: 50%;
}
#home-description{
  flex: 50%;
  align-items: center;
  margin-top: -10px;
  background-color: #ccffff;
}
#home-title{
  font-size: 3rem;
  font-family: 'Oleo Script', cursive;
  padding: 0 30px 0 100px;
  background-color: #ccffff;
}
#home-text{
  font-size: 1.1rem;
  font-family: 'Fugaz One', cursive;
  padding: 0 20px 0 100px;
  text-align: right;
  line-height: 1.6;
	overflow: hidden;
  background-color: #ccffff;
}

#collection-title{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 3rem;
  margin: 50px;
  letter-spacing: 2px;
	padding: 10px;
}
#about-title{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 2.5rem;
  margin: 50px 50px 0 50px;
  letter-spacing: 2px;
  padding: 10px;
}
#about-text{
 font-family: 'Fugaz One', cursive;
 padding: 0 300px 50px 300px;
 text-align: center;
 line-height: 2;
 font-size: 1.05rem;
}
#about-img{
 display: block;
 margin: 0 auto;
 width: 5%;
 padding: 0;
}

#watch{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: start;
 margin: 0;
 background-color: #ccffff;
 background-size: cover;
 padding: 30px 200px;
}
#embedded-video{
 margin: auto;
 width: 100%;
 height: 100%;
 flex: 50%;
 }
#video-title{
  font-family: 'Oleo Script', cursive;
}
#video-text{
 flex: 50%;
 padding: 0;
 margin: auto;
}
#video-description{
 font-family: 'Fugaz One', cursive;
 padding: 0;
 text-align: left;
 line-height: 1.3rem;
 font-size: 1.05rem;
}
#newsletter{
 text-align: center;
 margin: 50px auto;
}
#news-text{
 font-family: 'Fugaz One', cursive;
 line-height: 1.5rem;
 font-size; 1.1rem;
 }
#news-title{
  font-size: 2.5rem;
  font-family: 'Oleo Script', cursive;
}
#email, #submit{
 padding: 10px 30px;
 margin: 0 5px;
 font-family:'Oleo Script', cursive;
 border: 1px solid #7E967E;
}
#submit{
 background-color: #4F6F4F;
 color: white;
}
#submit:hover{
 background-color: #B8CFB8;
 color: black;
 border: 1px solid #B8CFB8;
}
#footer{
 text-align: center;
 font-family:'Oleo script', cursive;
 background-color: rgba(76, 86, 76, 0.5);
 padding: 0.02px;
 color: #233B23;
}
/*Media Queries*/
@media (max-width:1000px) {
  

#shop-name{
  margin: 50px 0 30px 0;
  font-size: 3rem;
  letter-spacing: 0.7rem;
  font-family: 'Fugaz One', cursive;
  }
#home-product{
 width: 50%;
}
#home-title{
  font-size: 2rem;
  padding:0 30px 0 70px;
}
#home-text{
  font-size: 1rem;
  padding: 0 20px 0 70px;
  line-height: 1.3rem;
	}
#collection-title{
 text-align: center;
 font-size: 2rem;
 margin: 30px;
 letter-spacing: 1px;
 padding: 5px;
}
